<h4>Status Type List</h4>
<hr>
<a [routerLink]="['/admin/addStatusType']" class="btn btn-primary">Create</a>
<div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
</div>
<div class="container">
    <div class="row header">
        <div class="col">Id</div>
        <div class="col">Type</div>
        <div class="col">Actions</div>
    </div>

    <div *ngFor="let item of statusTypes" class="row">
        <div class="col">{{ item.StatusID }}</div>
        <div class="col">{{ item.Type }}</div>
        <div class="col actions">
            <a [routerLink]="['/admin/addStatusType',item.StatusID]" class="btn btn-success">Edit</a>
            <a (click)="deleteStatusType(item.StatusID)" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>