html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* This will make the container take up all the space available between header and footer */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

app-footer {
    margin-top: auto;
    /* Pushes the footer to the bottom */
}